<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Is It Raining?</title>
</head>

<style>
    div {
        font-family: Helvetica, Arial, sans-serif;
    }
    .weather {
        text-align: center;
        font-size: 16px;
        font-size: 10vw;
    }

    .city {
        text-align: center;
        font-size: 16px;
        font-size: 6vw;
    }

    .day {
        text-align: center;
        font-size: 16px;
        font-size: 4vw;
    }
</style>

<body>
<br>
<br>
<div class="city">{{city}}</div>
<div class="weather">{{weather}}</div>
<div class="city">{{temp}}ºF</div>
<br>
<div class="day">{{current}}</div>
<div class="day">{{day}}</div>

</body>

</html>
