<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Is It Raining?</title>
</head>

<style>
    .weather {
        text-align: center;
        font-size: 16px;
        font-size: 6vw;
    }

    .city {
        text-align: center;
        font-size: 16px;
        font-size: 4vw;
    }

    .day {
        text-align: center;
        font-size: 16px;
        font-size: 3vw;
    }
</style>

<body>
<h1 class="city">{{city}}</h1>
<h1 class="weather">{{weather}}</h1>
<h1 class="city">{{temp}}ºF</h1>
<h3 class="day">{{current}}</h3>
<h3 class="day">{{day}}</h3>

</body>

</html>
